SELECT slgInfo.SEQUENCE_NUMBER, dbo.SLG_BASIC_NO_ADD_S.DISPLAY_NAME, slgInfo.CONTACT_TITLE, slgExt.PROPERTY_ID, slgExt.PROPERTY_VALUE, slgExt.PROPERTY_TEXT

FROM (SELECT slgExt.CONTACT_DATE_REAL, slgExt.CUSTOMER_NUMBER 
	  FROM dbo.SLG_EXTENDED_PROPE as slgExt WHERE slgExt.PROPERTY_ID = '106291' AND slgExt.PROPERTY_VALUE = @tldID) 
AS cstsOwned
	INNER JOIN dbo.SLG_EXTENDED_PROPE AS slgExt ON cstsOwned.CONTACT_DATE_REAL = slgExt.CONTACT_DATE_REAL AND cstsOwned.CUSTOMER_NUMBER = slgExt.CUSTOMER_NUMBER
	INNER JOIN dbo.SLG_BASIC_OVERTIME AS slgInfo ON cstsOwned.CONTACT_DATE_REAL = slgInfo.CONTACT_DATE_REAL AND cstsOwned.CUSTOMER_NUMBER = slgInfo.CUSTOMER_NUMBER
	INNER JOIN dbo.SLG_BASIC_NO_ADD_S ON slgInfo.CUSTOMER_NUMBER = dbo.SLG_BASIC_NO_ADD_S.CUSTOMER_NUMBER

WHERE Property_ID IN ('105885', '105886', '106291', '115326', '108976', '123520', '108977') AND slgInfo.LOG_STATUS_C != '300'






	  	