table {
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-size: 85%;
	background: #FFFFFF;
	width:100%;
}

table, th, td {
	border: 1px solid black;
}

th {
	background-color: #000000;
	color: white;
	padding: 1px;
}

td { 
	background-color: #ffffff;
	color: black;
	word-wrap: break-word;
	padding: 1px;
}

tr.alt td {
    color: black;
    /*background-color: #FFFAF0;*/
	background-color: #d9d9d9;
}

.highlighted
{
	background-color: #FF0000;
}